<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Sharkapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
Modified application.html.erb to be like below.-->

<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "About Sharks" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "About Sharks" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
    <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>

<%# Explanation: The viewport meta tag is recommended by bootstrap for behaviors responsive 
to the browser screen size. The title is set up to be rendered flexibly, as is 
the meta tag for site description. The header section is set up to render a navigation bar. 
This will be in a partial that we haven’t yet created. The yield statement in the main section 
is set up to give logic to the view that will be rendered. If the content block is set, 
the application will yield the associated layout (yield with parameter), but if not, 
the yield without parameters will give the default view of the home controller. %>